@charset "UTF-8";
/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/
/*
id é único
class pode ser múltiplo
*/
body {
    background-color: #C5D5E4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #A675A1;
}

h1#principal {
    color: #25283D;
    text-align: center ;
    background-color: #CEA2AC;
}
h2 {
    color: rgb(73, 109, 71);
} 