@charset "UTF-8";
/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/
/*
id é único
class pode ser múltiplo
*/
body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #372b50, #BD84AD);
}
main {

    background-color: white;
    text-align:a;
    text-indent: 25px;
    width: 600px;
    border-radius: 25px;
    box-shadow: 5px 5px 25px black;
    margin: auto;
    padding: 25px;
    
}
h1 {
    color: #73537D;
    
}

h1#principal {
    color: #25283D;
    text-align: center ;
    background-color: #CEA2AC;
}
h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(73, 109, 71);
}

.intermediario {
    color: rgb(109, 103, 71);
}

.avancado {
    color: rgb(109, 71, 71);
}

.destaque {
    background-color: rgba(173, 173, 78, 0.534);
}