@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;
    --fonte1: "Passion One", cursive;
    --fonte2: "Sriracha";
}

* { 
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    height: 240px;

    
}

header > h1 {
    text-align: center;
    padding: 50px 0px 0px;
    font-size: 10vw;
    font-family: var(--fonte1);
}
 header p {
    text-align: center;
    font-family: var(--fonte0);
   
 }
header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}
header > p > a:hover {
    text-decoration: underline;
}
body {
    height: 100vh;
    background-color: aquamarine;
    
}

section.container-um {
    background-image: url("imagens/background001.jpg");
    

    height: 100vh;

    position: relative;

    background-attachment: fixed;
    background-size: cover;
    background-color: aquamarine;

   margin-bottom: 0px;
}

p.verso {
    font-family: var(--fonte2);
    background-color: white ;
    line-height: 2em;
    font-size: 2.5vw;

    padding-top: 0px;
    
    height: 500px;

    background-attachment: scroll;

}

.verso-2{
    background-color: rgba(0, 0, 0, 0.288);
    color: white;

    height: 480px;
    width: 400px;
    border-radius: 10px;

    line-height: 2em;
    font-size: 2.5vw;
}

section.container-dois {
    background-image: url("imagens/background002.jpg");
    
    height: 100vh;

    position: relative;

    background-attachment: fixed;
    background-size: cover;

    background-color: aquamarine;

    padding: 10px;
}